.paragraph_style {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 37px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: rgb(167, 167, 167);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_351_102 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_616_474 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_345_191 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1 {
    color: rgb(0, 0, 0);
}
a.class1:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1:hover {
    color: rgb(81, 81, 81);
}
a.class10 {
    color: rgb(0, 0, 0);
}
a.class10:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class10:hover {
    color: rgb(81, 81, 81);
}
a.class11 {
    color: rgb(0, 0, 0);
}
a.class11:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class11:hover {
    color: rgb(81, 81, 81);
}
a.class12 {
    color: rgb(0, 0, 0);
}
a.class12:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class12:hover {
    color: rgb(81, 81, 81);
}
a.class13 {
    color: rgb(0, 0, 0);
}
a.class13:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class13:hover {
    color: rgb(81, 81, 81);
}
a.class14 {
    color: rgb(0, 0, 0);
}
a.class14:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class14:hover {
    color: rgb(81, 81, 81);
}
a.class2 {
    color: rgb(0, 0, 0);
}
a.class2:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class2:hover {
    color: rgb(81, 81, 81);
}
a.class3 {
    color: rgb(0, 0, 0);
}
a.class3:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class3:hover {
    color: rgb(81, 81, 81);
}
a.class4 {
    color: rgb(0, 0, 0);
}
a.class4:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class4:hover {
    color: rgb(81, 81, 81);
}
a.class5 {
    color: rgb(0, 0, 0);
}
a.class5:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class5:hover {
    color: rgb(81, 81, 81);
}
a.class6 {
    color: rgb(0, 0, 0);
}
a.class6:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class6:hover {
    color: rgb(81, 81, 81);
}
a.class7 {
    color: rgb(0, 0, 0);
}
a.class7:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class7:hover {
    color: rgb(81, 81, 81);
}
a.class8 {
    color: rgb(0, 0, 0);
}
a.class8:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class8:hover {
    color: rgb(81, 81, 81);
}
a.class9 {
    color: rgb(0, 0, 0);
}
a.class9:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class9:hover {
    color: rgb(81, 81, 81);
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#widget1 a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
#widget0 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#widget1 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
/* this code refers to the html footer element. It colours it grey. If you want to change the color, $
footer { 
    display: block;
    background-color: #f1f1f1;
    text-align: center; 
}

/* this styles the header. Once again, change the `background-color` to change it to the color you wa$
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

ul li {
    display: inline-block;
}

li a {
     display: block;
     color: #000;
     padding: 8px 16px;
     text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
      background-color: #555;
      color: white;
}

img {
        width : 250px;
        border-radius: 50%;
}

